<%- include("header") -%>   <!--EJS header layout-->

<h1>hello this is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non repellendus minus ea assumenda commodi, voluptas nam quasi? Id inventore consequatur alias distinctio quibusdam? Excepturi dolores totam ab rerum rem maxime culpa quia, veritatis a eius sunt amet id mollitia itaque delectus omnis ullam autem perferendis possimus quidem asperiores consequatur. Facere minima numquam quam eos quibusdam mollitia eveniet praesentium nostrum reprehenderit repellendus assumenda, dolorem dolor. Magnam nemo culpa hic neque fugiat eius praesentium a amet ipsam deserunt magni, iure ad inventore earum iusto odio obcaecati, ratione facere. Voluptatum molestias deleniti accusamus minus commodi labore. Mollitia iure quos molestiae, quasi perferendis doloribus?</p>

<%- include("footer") -%>   <!--EJS footer layout-->